<router-outlet></router-outlet>
 <button mat-mini-fab matBadge="{{ cartbadge }}" matBadgeColor="warn" style="position: fixed;bottom: 20px;right: 20px; z-index:2000" color="basic" *ngIf="loggedIn" (click)="showCart()"><mat-icon>shopping_cart</mat-icon></button>
<mat-toolbar style="position: fixed;z-index: 150;">   <img src="./../assets/logo2.png" class="logo"  alt="main logo" ><span class="example-spacer"></span>

	<button mat-raised-button *ngIf="loggedIn" color="accent" (click)="pop_file()" >Buy</button>
   <button mat-button *ngIf="!loggedIn" color="basic" (mouseover)="pop_notice()" ><mat-icon>info</mat-icon></button>
   <button mat-button *ngIf="loggedIn" (click)="signOut()"><mat-icon>exit_to_app</mat-icon></button>

</mat-toolbar>
<div class="main">
   <img src="./../assets/adv.jpeg" class="adv" alt="fmcweekend merchandise poster">
	<div class="t">
			<div class="place">
		<mat-toolbar style="border-top-left-radius: 25px;
    border-top-right-radius: 25px;">Inception<span class="example-spacer"></span> 
     <button mat-mini-fab color="basic" *ngIf="loggedIn"  (click)="re('dark')" ><mat-icon>remove</mat-icon></button>
    <button mat-button *ngIf="loggedIn" (click)="showCart()">Quantity: {{ord['dark'][d]}}</button>
    <button mat-mini-fab color="basic"  *ngIf="loggedIn" (click)="add('dark')" ><mat-icon>add</mat-icon></button>
  </mat-toolbar>
		<div class="hold">
		<img src="./../assets/black1.jpg" class="shirt" alt="black t-shirt front">
		<img src="./../assets/black2.jpg" class="shirt" alt="black t-shirt back">
		</div>
<div *ngIf="loggedIn">
     <div style="        display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 43px;
}"><button mat-button (click)="pop_up('table')">Size Guide</button></div>
<mat-form-field appearance="fill">
        <mat-label>Size</mat-label>
       <select matNativeControl required [(ngModel)]="d">
        <option value="s" >Small</option>
        <option value="m">Medium</option>
         <option value="l" >Large</option>
         <option value="xl">X-Large</option>
         <option value="xxl">XX-Large</option>
         <option value="xxxl">XXX-Large</option>
  </select>
</mat-form-field>
 
</div>
	</div>
	</div>
	<div class="t">

			<div class="place">
		<mat-toolbar style="border-top-left-radius: 25px;
    border-top-right-radius: 25px;">Snorlax<span class="example-spacer"></span>
    <button mat-mini-fab color="basic" *ngIf="loggedIn"  (click)="re('white')" ><mat-icon>remove</mat-icon></button>
    <button mat-button  *ngIf="loggedIn" (click)="showCart()">Quantity: {{ord['white'][w]}}</button>
    <button mat-mini-fab color="basic" *ngIf="loggedIn" (click)="add('white')"><mat-icon>add</mat-icon></button>
  </mat-toolbar>
		<div class="hold">
		<img src="./../assets/white1.jpg" class="shirt" alt="white t-shirt front">
		<img src="./../assets/white2.jpg" class="shirt" alt="white t-shirt back">
		</div>
<div *ngIf="loggedIn">
   <div style="        display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 43px;
}"><button mat-button (click)="pop_up('table')">Size Guide</button></div>
<mat-form-field appearance="fill" >
        <mat-label>Size</mat-label>
       <select matNativeControl required   [(ngModel)]="w">

        <option value="s"  >Small</option>
        <option value="m" >Medium</option>
         <option value="l" >Large</option>
         <option value="xl">X-Large</option>
         <option value="xxl" >XX-Large</option>
         <option value="xxxl" >XXX-Large</option>
  </select>
</mat-form-field>
</div>
	</div>
	</div>
  <div style="padding-top:20px; width: 100%;">
      <div class="base">
       <div class="car m">
    <img src="./../assets/logo.png" style="width:100%;" alt="fmcweekend iitbhu logo">

    <a class="fa fa-facebook" aria-hidden="true" href="https://www.facebook.com/fmcweekendiitbhu"></a>
    <a class="fa fa-instagram" aria-hidden="true" href="https://www.instagram.com/fmc_weekend/"></a>
    <a class="fa fa-linkedin" aria-hidden="true" href="https://www.linkedin.com/company/fmc-weekend-creative/" ></a>
    <a class="fa fa-youtube-play" aria-hidden="true" href="https://www.youtube.com/channel/UCt4-7kmQaPEZzPLil4RNRCw"></a>

  </div>
  <div class="car">
    <div class="title">Contacts</div>
    <br>
    <div class="title4">Shikhar Choudhary</div>
    <div class="title4">97613 27327</div>
    <br><br>
    <div class="title4">Gaurav Verma</div>
    <div class="title4">70911 40432</div>
  </div> 
</div>
  </div>
  <div class="base2">
  <div class="car2" (click)="pop_up('tac')">
    <div class="title3">Terms and conditions</div>
  </div>
   <div class="car2" (click)="pop_up('pp')">
    <div class="title3">Privacy Policy</div>
  </div>
   <div class="car2" (click)="pop_up('ref')">
    <div class="title3">Refund Policy</div>
  </div>
    <div class="car2" (click)="pop_up('faq')">
    <div class="title3">FAQ</div>
  </div>
</div>
</div>